---
title: الرئيسية
heading: 'إحصائيات الباكلوريا'
lead: Welcome to my blog!
navIndex: 1
---
<div class="jumbotron">
  <div class="container">
    <h1>{{ heading }}</h1>
    <!-- <p>يقدم هذا الموقع نتائج وإحصائيات عن مسابقة الباكلوريا لعام 2014</p> -->
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <svg class="chart" data-chart="line" data-series="students"></svg>
    </div>
  </div>
</div>
<script src="{{assets}}/js/student_data.js"></script>